@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:regular,700);

html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.box {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #6B7082;
    line-height: 22px;
    background: #19A1AE;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -275px -517px, bottom -633px right -183px;

    .card {
        width: 350px;
        height: 374px;
        background: #FFFFFF;
        box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
        border-radius: 15px;
        text-align: center;

        &__bg {
            width: inherit;
            height: 140px;
            background-image: url(../images/bg-pattern-card.svg);
            border-radius: 15px 15px 0 0;
            position: relative;
            // margin-bottom: 72px;

            &-avatar {
                width: 96px;
                height: 96px;
                border: 5px #FFFFFF solid;
                border-radius: 50%;
                background-image: url(../images/image-victor.jpg);
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 100%;


            }
        }

        &__info {
            padding: 72px 0 25px;
            border-bottom: 1px solid #E8E9EC;

            &-name {
                span {
                    font-weight: 700;
                    margin-right: 9.5px;
                    color: #2E3349;
                }
            }

            &-location {
                margin-top: 9px;
                font-size: 14px;
                line-height: 17px;
            }
        }

        &__data {
            display: flex;
            margin: 24px;
            justify-content: space-evenly;

            &-item {
                width: 60px;

                &-quant {
                    font-weight: 700;
                    margin-bottom: 5px;
                    color: #2E3349;
                }

                &-title {
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 1.5px;
                }
            }
        }
    }
}

@media(max-width:400px) {
    .box {
        max-width: 375px;
        background-position: 153% -321px, right 161% bottom -333px;
        background-size: 622px 622px;

        .card {
            width: 326px;



            &__info {
                padding-bottom: 24px;
          
            }
        }
    }
}