@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.box {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;

    .card {
        width: 920px;
        height: 500px;
        background: #E28625;
        border-radius: 8px;
        display: flex;
       
        &__bg2 {
            background: #006971;
            border-radius: 8px;

            .card__button {
                color: #006971;
            }
        }

        &__bg3 {
            background: #004140;
            border-radius: 0px 8px 8px 0px;

            .card__button {
                color: #004140;
            }
        }

        &__bg1 {
            .card__button {
                color: #E28625;
            }


        }

        .card__item {
            width: 307px;
            height: 500px;
            padding: 48px;

            .emblem {
                width: 40px;
                height: 40px;
                background: rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                position: relative;
                margin-bottom: 35px;

                img {
                    position: absolute;
                    transform: translate(50%, 50%);
                }
            }

            .card__title {
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                text-transform: uppercase;
                font-family: 'Big Shoulders Display';
                margin-bottom: 25px;
            }

            .card__text {
                color: rgba(255, 255, 255, 0.75);
                margin-bottom: 83px;
            }
        }

        .card__button {
            background: #F2F2F2;
            border-radius: 25px;
            width: 146px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card__button:hover {
            background-color: transparent;
            border: 2px solid #FFFFFF;
            border-radius: 25px;
            cursor: pointer;
            color: #fff;
        }

    }
}


@media(max-width:450px) {
    .box {
        max-width: 375px;
        height: 1502px;

        .card {
            width: 327px;
            height: 1326px;
            flex-direction: column;

            &__bg2 {
                width: 327px;
                border-radius: 8px;
            }

            &__bg3 {
                border-radius: 0px 0px 8px 8px;
            }

            .card__item {
                height: 442px;
                .card__text {
                    margin-bottom: 25px;
                }
            }

        }
    }
}