@import url(https://fonts.googleapis.com/css?family=Manrope:500,700);

html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.box {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #6E8098;
    line-height: 20px;

    .card {
        width: 730px;
        height: 283px;
        background: #FFFFFF;
        box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
        border-radius: 10px;
        display: flex;
        align-items: flex-start;

        &__bg {
            width: 285px;
            height: inherit;
            background-image: url(../images/Bitmap.png);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px 0 0 10px;

        }

        &__content {
            width: 365px;
            height: 216px;
            margin: 32px 40px;


            &-title {
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.25px;
                color: #48556A;
                margin-bottom: 12px;

            }

            &-text {
                font-weight: 500;
                letter-spacing: 0.121875px;
                margin-bottom: 20px;
            }

            &-avatar {
                display: flex;
                align-items: center;

                &-author {
                    width: 40px;
                    height: 40px;
                    background-image: url(../images/Oval.png);
                    margin-right: 16px;
                }

                &-info {

                font-weight: 500;
                letter-spacing: 0.121875px;
                color: #9DAEC2;
                span{
                    font-weight: 700;
                    display: block;
                    letter-spacing: inherit;
                    color: #48556A;
                }
                

                }
             
                &-buttonback {
                    
                background-image: url(../images/Oval2.png);
                    margin-left: 161px;
                    width: 32px;
                    height: 32px;
                }
            }

           
        }
    }


}


@media(max-width:450px) {
    .box {
        max-width: 450px;

        .card {
            width: 327px;
            height: 512px;
           display: block;

            &__bg {
                background-image: url(../images/Bitmap_mob.png);
                width: inherit;
                height: 200px;
                border-radius: 10px 10px 0 0;
                
            }

            &__content {
                width: inherit;
                height: auto;
                padding: 36px 32px 20px;
                margin: 0;

                &-title {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    margin-bottom: 12px;
                    
                }
                

                &-text {
                    margin-bottom: 32px;
                }

                &-avatar-buttonback{
                    margin-left: 59px;
                }
            }

        }
    }
}